<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h1>Thanks for applying to {{ job?.title }}</h1>
    <p>We've sent a confirmation email to you, and we wish you good luck!</p>
    <button (click)="goToJobList()">Search for more jobs</button>
  </div>
</div>
