<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h2>General Information</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <tr>
            <td>First Name</td>
            <td><input></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="email"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h2>Required Expirence</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Expirence</th>
            <th>Years Of Expirence</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let re of job?.requiredExpirences">
            <td>
              {{ (expirenceService.getExpirence(re) | async)?.text }}
            </td>
            <td>
              <input type="number"> year(s)</td>
            <td>
              <input>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h2>Relevant Expirence</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Expirence</th>
            <th>Years of Expirence</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let re of job?.relevantExpirences">
            <td>
              {{ (expirenceService.getExpirence(re) | async)?.text }}
            </td>
            <td>
              <input type="number"> year(s)</td>
            <td>
              <input>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <button (click)="submit()">Submit</button>
  </div>
</div>
