<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h1>{{ job?.title }}</h1>
    <p [innerHTML]="job?.description.overall"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-sm-12 offset-md-1">
    <h2>Qualifications</h2>
    <hr>
    <p [innerHTML]="job?.description.qualifications"></p>
  </div>
  <div class="col-md-5 col-sm-12">
    <h2>Benefits</h2>
    <hr>
    <p [innerHTML]="job?.description.benefits"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-sm-12 offset-md-1">
    <h2>Required Expirence</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th></th>
            <th>Expirence</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let re of job?.requiredExpirences">
            <td><input type="checkbox"></td>
            <td>
              {{ (expirenceService.getExpirence(re) | async)?.text }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5 col-sm-12">
    <h2>Relevant Expirence</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th></th>
            <th>Expirence</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let re of job?.relevantExpirences">
            <td><input type="checkbox"></td>
            <td>
              {{ (expirenceService.getExpirence(re) | async)?.text }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <button (click)="startApplication()">Start Your Application Today</button>
  </div>
</div>
