<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{ job.title }}</td>
        <td>
          <a [routerLink]="['/job', job.id]">View Job</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
