<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h2>User Events</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Job</th>
            <th>A/B Id</th>
            <th>Event</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of userService.events">
            <td>{{ e.jobId }}</td>
            <td>{{ e.abId }}</td>
            <td>
              {{ Event[e.event] }}
            </td>
            <td>{{ e.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-10 col-sm-12 offset-md-1">
    <h2>A/B Test</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Template</th>
            <th>Raw Conversions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let count of countArray">
            <td>{{ count.id }}</td>
            <td>{{ count.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
