<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a routerLink="/jobs" class="navbar-brand d-flex align-items-center">
      <strong>Jobs</strong>
    </a>
    <a routerLink="/reports" class="navbar-brand d-flex align-items-center">
      <strong>Reports</strong>
    </a>
  </div>
</div>
